*{
    padding: 0;
    margin: 0;
}

.page{
    min-height: 100%;
  }
  .inner-btn{
    display: flex;
    justify-content: space-around;
  }
        /* forms start */
  
  .form{
    width: 50%;
    margin-top: 6%;
    background-color: #fbfbfb;
    border-radius: 5px;
    display: inline-block;
    max-height: 100%;
    max-width: 86vw;
    overflow-y: auto;
    padding: 28px 23px 25px 23px;
    position: relative;
    vertical-align: top;
    width: 420px;
    z-index: 2;
    margin-left: 35%;
  }
  
  .forms{
    width: 50%;
    margin-top: 10%;
    background-color: #fbfbfb;
    border-radius: 5px;
    display: inline-block;
    max-height: 100%;
    max-width: 86vw;
    overflow-y: auto;
    padding: 28px 23px 25px 23px;
    position: relative;
    vertical-align: top;
    width: 420px;
    z-index: 2;
    margin-left: 45%;
  }
  
  .form h2{
    text-align: center;
    margin-bottom: 5%;
    font-size: 2.5rem;
  }
  
  .forms h2{
    text-align: center;
    margin-bottom: 5%;
    font-size: 2.2rem;
  }
  
  .form-group{
    margin-bottom: 20px;
    background-color: white;
  }
  
  .form-group input{
    width: 100%;
    padding: 20px 5px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #e8e8e8;
    background-color: white;
    color: black;
    font-size: 17px;
    font-family: inherit;
  }
  
  .form-container h2{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group span{
    color: red;
    font-style: italic;
  }
  
  .form-group select{
    width: 100%;
    font-size: 17px;
    padding: 20px 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e8e8e8;
    background-color: white;
    color: black;
    font-family: initial;
  }
  
  .form-btn{
    width: 100%;
  }
  
  
  .form-btn button{
   background-color:#AC835D;
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 550;
   border-radius: 5px;
   cursor: pointer;
   padding: 20px 14px;
   border: none;
   outline: none;
   display: inline-block;
   margin: 10px;
   color: white;
   width: 90%;
   margin-bottom: 10%;
  }
  
  .form-link{
  text-align: center;
  color: black;
  font-size: 20px;
  margin-bottom: 8%;
  }
  
  .link{
    text-decoration: none;
    color: #AC835D;
  }
  
  .form-txt h5{
    font-size: 17px;
    color: black;
    line-height: 23px;
    margin: 24px 0 30px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .form-checkbox input:not([type="checkbox"]){
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    outline: none;
  }
  
  .form-checkbox span{
    line-height: 1.7;
    font-style: inherit;
    color: black;
    margin-left: 2%;
  }
  
  .form-checkbox h4{
    margin-left: 57%;
    color: black;
  }
  
  .form-icon{
    font-size: 30px;
    display: flex;
    gap: 25px;
    margin-left: 25%;
    color: black;
  }
  
  .form-group textarea{
    width: 85%;
    padding: 60px;
    padding-top: 0px;
    padding-left: 2px;
  }
  
      /* forms end */
  
  
    /* sidebar start */
  
  #menu .logo {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
  }
  
  #menu .logo h2{
    font-size: 2rem;

  
  }
  
  #menu{
    background: #AC835D;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  #menu .items{
    margin-top: 40px;
  }
  
  #menu .items button{
 
   border-radius: 5px;
   cursor: pointer;
   padding: 20px 14px;
   border: none;
   outline: none;
   display: inline-block;
   color: #AC835D;
   font-size: 15px;
   width: 70%;
  }
  
  #menu .items li:hover{
    background:#fff ;
    cursor: pointer;
  }
  #menu .items li:nth-child(1){
    border-left: 4px solid;
  }
  #menu .items li i{
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
  }
  #menu .items li:hover i,
  #menu .items li:hover a{
    color: #F3F4F6;
  }
  #menu .items :nth-of-type(1){
    background-color: #e8e8e8;
  }
  #menu .items button:hover{
    background-color: #e8e8e8;

  }
   .items .link{
    text-decoration: none;
    color: white;
    font-weight: 300px;
    transition: 0.3 ease;
    display: block;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    margin-left: 4%;
    margin-top: -2px;
  }
   
        /* sidebar end */
  
  
      /* view Appointment  start*/
  
   .re-destination{
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: white;
  }
  .re-destination h1{
    font-size: 40px;
    text-align: center;
    color: white;
    margin-bottom: 2%;
    margin-left: 10%;
    padding-top: 4%;
  }
  .re-destination h1 span{
    color: white;
  }
  .main-destination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 80%;
    margin-left: 20%;
  }
  .main-destination .inner-destination{
    flex: 200px;
    
  }
   .main-image img{
    width: 90%;
    margin-top: 3%;
    border-radius: 20px;
    margin-left: 4%;
  }
  .inner-destination h2{
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-left: 3%;
    color: rgb(0, 0, 0);
  }
  .inner-destination p{
  font-size: 1.2rem;
  margin-left: 3%;
  color: rgb(0, 0, 0);
  }
  .inner-destination h3{
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-left: 3%;
    color: rgb(0, 0, 0);
  } 
  
      /* view Appointment ends */

      /* Comments and reviews  */
.reviews{
  margin-bottom: 100px;
  width: 90%;
  margin: auto;
  /* margin-top: 30px; */
  color: white;
}
.review-section h2{
  color: white;
}
.review-section{
  width: 45%;
}

.reviewform{
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewform button{
  padding: 12px 20px;
  /* background-color: 
  #1db2ff; */
  border: none;
  border-radius: 5px;
  color: white;
}
.reviewform textarea{
  padding: 5px;
  border-radius: 5px;
}

.editReview{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
}

.editanddelete{
  display: flex;
  gap: 10px;
}
